{% extends "topmenu_template.html" %}

{% block title %}Crear Operador{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Crear Operador</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.nombres.label(class="form-label") }}
            {{ form.nombres(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.apellido_paterno.label(class="form-label") }}
            {{ form.apellido_paterno(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.apellido_materno.label(class="form-label") }}
            {{ form.apellido_materno(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.fecha_nacimiento.label(class="form-label") }}
            {{ form.fecha_nacimiento(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.numero_telefonico.label(class="form-label") }}
            {{ form.numero_telefonico(class="form-control") }}
        </div>
        <div class="form-group text-center">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
