{% extends "topmenu_template.html" %}

{% block title %}Listado de Operadores{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Listado de Operadores</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <table class="table table-striped text-white">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Fecha de Nacimiento</th>
                <th>Número Telefónico</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for operator in operators %}
                <tr>
                    <td>{{ operator.id }}</td>
                    <td>{{ operator.nombres }}</td>
                    <td>{{ operator.apellido_paterno }}</td>
                    <td>{{ operator.apellido_materno }}</td>
                    <td>{{ operator.fecha_nacimiento }}</td>
                    <td>{{ operator.numero_telefonico }}</td>
                    <td>
                        <a href="{{ url_for('operator_routes_bp.edit_operator', operator_id=operator.id) }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center mt-4">
        <a href="{{ url_for('operator_routes_bp.create_operator') }}" class="btn btn-success">Crear Nuevo Operador</a>
    </div>
</div>
{% endblock %}
