{% extends "topmenu_template.html" %}

{% block title %}Listado de Registros Diarios{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Listado de Registros Diarios</h1>
    <table class="table table-striped text-white">
        <thead>
            <tr>
                <th>ID</th>
                <th>Número de Unidad</th>
                <th>Operador</th>
                <th>Fecha</th>
                <th>Boleto Inicial</th>
                <th>Boleto Entregado</th>
                <th>Cantidad de Dinero Esperado</th>
                <th>Dinero Entregado</th>
                <th>Restante</th>
                <th>Dueño de la Unidad</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.unit_id }}</td>
                    <td>{{ record.operador.nombres }} {{ record.operador.apellido_paterno }} {{ record.operador.apellido_materno }}</td>
                    <td>{{ record.fecha }}</td>
                    <td>{{ record.boleto_inicial }}</td>
                    <td>{{ record.boleto_entregado }}</td>
                    <td>{{ record.cantidad_dinero_esperado }}</td>
                    <td>{{ record.dinero_entregado }}</td>
                    <td>{{ record.restante }}</td>
                    <td>{{ record.dueño_unidad }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
