{% extends "topmenu_template.html" %}

{% block title %}Registro - Sistema de Control de Transporte{% endblock %}

{% block content %}
<h1>Registro</h1>
<form method="POST" action="{{ url_for('auth_routes.register') }}">
    <div class="form-group">
        <label for="firstname">Nombre:</label>
        <input type="text" class="form-control" id="firstname" name="firstname" required>
    </div>
    <div class="form-group">
        <label for="lastname">Apellido:</label>
        <input type="text" class="form-control" id="lastname" name="lastname" required>
    </div>
    <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
{% endblock %}
